{% extends 'base.html' %}
{% block pagetitle %}Detalle {{ album.name }}{% endblock pagetitle %}
{% block content %}
    <div class="container">
        <h1 class="text-center m-3">Album</h1>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                    <img src="{{ album.portada_base64 }}" class="card-img-top" alt="{{ album.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.name }}</h5>
                        <p class="card-text">
                            <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{% url 'detalleArtista' album.artist.pk %}">
                                <img src="{{ album.artist.imagen_base64 }}" class="img-fluid" alt="{{ album.artist.name }}" style="max-width:100px" />
                                {{ album.artist.name }}
                            </a>
                        </p>
                        <p class="card-text">Lanzamiento: {{ album.release_date }}</p>
                        <p class="card-text">{{ songs|length }} canciones</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <h3 class="text-center">Detalles</h3>
                <div class="row">
                    <div class="col-6">
                        <h4>Canciones</h4>
                        <ul>
                            {% for song in songs %}
                                <li>
                                    <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{% url 'detalleSong' song.pk %}">
                                        {{ song.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if artists|length > 0 %}
                        <div class="col-6">
                            <h4>Artistas que participan en el album</h4>
                            <ul>
                                {% for artist in artists %}
                                    <li class="mb-2">
                                        <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{% url 'detalleArtista' artist.pk %}">
                                            <img src="{{ artist.imagen_base64 }}" class="img-fluid" alt="{{ artist.name }}" style="max-width:100px" />
                                            {{ artist.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock content %}