{% extends 'base.html' %}
{% block pagetitle %}Detalle {{ song.name }}{% endblock pagetitle %}
{% block content %}
    <div class="container">
        <h1 class="text-center m-3">Canción: {{ song.name }} <a class="btn btn-sm btn-success" href="{% url 'admin:song_song_change' song.id %}">Editar</a></h1>
        {% if song.name_spanish %}
            <h2 class="text-center m-3">{{ song.name_spanish }}</h3>
        {% endif %}
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 offset-3">
                        <a href="{% url 'detalleAlbum' song.album.pk %}">
                            <figure class="figure">
                                <img src="{{ song.album.portada_base64 }}" class="figure-img img-fluid" alt="{{ song.album.name }}">
                                <figcaption class="figure-caption">{{ song.album.name }} ({{ song.album.release_date.year }})</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <ul>
                    {% for artist in song.artists.all %}
                        <li class="mb-2">
                            <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{% url 'detalleArtista' artist.pk %}">
                                <img src="{{ artist.imagen_base64 }}" class="img-fluid" alt="{{ artist.name }}" style="max-width:100px" />
                                {{ artist.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if song.video %}
            <div class="row">
                <div class="col-8 offset-2">
                    <iframe
                        id="videoIframe"
                        src="https://www.youtube.com/embed/{{ song.video|cut:'https://www.youtube.com/watch?v='|cut:'https://youtu.be/' }}" 
                        title="{{ song.name }}"
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                        style="width:100%"
                    >
                    </iframe>
                </div>
            </div>
        {% endif %}
        <h3 class="text-center">Letras</h3>
        <div class="row">
            <div class="col-6 p-3 lyrics-container" id="lyrics-original" style="background-color: #f8f9fa; border-radius: 10px; overflow-y: auto; max-height: 400px;">
                <h4 class="text-center">{{ song.name }}</h4>
                <pre style="white-space: pre-wrap; font-size: 12px; line-height: 1.5;">{{ song.lyrics_original|safe }}</pre>
            </div>
            <div class="col-6 p-3 lyrics-container" id="lyrics-spanish" style="background-color: #e9ecef; border-radius: 10px; overflow-y: auto; max-height: 400px;">
                <h4 class="text-center">{{ song.name_spanish }}</h4>
                <pre style="white-space: pre-wrap; font-size: 12px; line-height: 1.5;">{{ song.lyrics_spanish|safe }}</pre>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        window.onload = function() {
            var iframe = document.getElementById('videoIframe');
            var iframeWidth = iframe.offsetWidth;
            var aspectRatio = 9 / 16; // Relación de aspecto de YouTube
            iframe.style.height = (iframeWidth * aspectRatio) + 'px';
        }

        document.addEventListener("DOMContentLoaded", function () {
            let original = document.getElementById("lyrics-original");
            let translated = document.getElementById("lyrics-spanish");

            function syncScroll(event) {
                let other = event.target.id === "lyrics-original" ? translated : original;
                other.scrollTop = event.target.scrollTop;
            }

            original.addEventListener("scroll", syncScroll);
            translated.addEventListener("scroll", syncScroll);
        });
    </script>
{% endblock script %}